.details_container{
    display: flex;
    position: absolute;
    top: 65px;
    justify-content: flex-start;
    gap: 20px;
    padding: auto;
    margin-right: 45px;
    margin-left: 45px;
    .details_img_part{
        img{
            width: 230px;
            height: 345px;
        }
    }
    }
    .details{
        display: flex;
        flex-direction: column;
        
        .cast{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            img{
                width: 100px;
                height: 150px;
            }
        }
    }
    .footer{
        position: relative;
        top: 180px;
    }
