.details_container{
    display: flex;
    position: relative;
    top: 80px;
    justify-content: flex-start;
    gap: 20px;
    padding: auto;
    margin-right: 45px;
    margin-left: 45px;
    .details_img_part{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        img{
            width: 230px;
            height: 345px;
        }
        h2{
            display: flex;
            align-items: center;
            gap: 25px;
        }
        button{
            width: 180px;
            height: 30px;
            background-color: red;
            color: white;
            border: 2px solid rgb(25, 18, 18);
            border-radius: 5px;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;;
        }
    }
    }
    .details{
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .cast{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            img{
                width: 100px;
                height: 150px;
            }
        }
    .videos_section{
        display: flex;
        flex-direction: column;
        gap: 10px;
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    .footer_section{
        position: relative;
        
    }
    }

