.tv_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 480px;
    margin-left: 1.6 rem;
    padding: 5px;
    transition: transform 0.3s ease;
    .tv_card_img {
        width: 250px;
        height: 400px;
    }
    &:hover,
    &:active {
        transform: scale(1.1); // Scale up the card on hover or click
        position: relative;}
    .tv_card_details{
        width: 250px;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-weight: 600;
    }
}