.details_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .details_img_part{
        width: 230px;
        height: 345px;
        img{
            width: 230px;
            height: 345px;
        }
    }
    .details{
        display: flex;
        width: 700px;
    }
}